configuration {
    display-drun: "Applications:";
    display-window: "Windows:";
    drun-display-format: "{icon} {name}";
    font: "JetBrainsMono NF 10";
    modi: "window,run,drun";
    show-icons: true;
    icon-theme: "Papirus";
}

//@theme "/home/marcos/.local/share/rofi/themes/rounded-blue-dark.rasi"
//@theme "/home/marcos/.local/share/rofi/themes/rounded-nord-dark.rasi"
